body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #020617;
}

nav h3 {
    color: white;
}

nav a {
    color: #cbd5f5;
    margin-left: 20px;
    text-decoration: none;
}

/* CONTAINER */
.container {
    padding: 60px 10%;
    height:"500";
}

/* HERO */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.hero h1 {
    font-size: 2.5rem;
    color: white;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* RESPONSIVE */
@media(max-width:768px){
    .grid, .hero {
        grid-template-columns: 1fr;
    }
}

/* CARD */
.card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1e293b;
}
.card1 {
    background: #020617;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1e293b;
}

/* IMAGE */
.dashboard-img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
}

.map-frame {
  width: 100%;
  height: 60vh;   /* responsive height */
  border-radius: 12px;
  border: none;
}

.des {
    font-size: 17px;
    line-height: 1.8;
    color: #ffffff;
    margin-bottom: 18px;
    letter-spacing: 0.4px;
    max-width: 650px;
    font-family: 'Poppins', sans-serif;
}