<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<nav>
<h3>Speed Analytics</h3>
<div>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
<a href="/about">About</a>
</div>
</nav>

<div class="container">
<h1>About Project</h1>

<div class="card1">
    <h2>📌 Project Overview</h2>
<p class="des">
    
    
The Internet Speed Regional Comparison Dashboard is a web-based application that allows users to analyze and compare internet speeds across different regions.
It provides insights into download speed, upload speed, latency, and overall network performance.
This project helps users, researchers, and organizations understand internet quality trends and make informed decisions.

</p>
</div>

</div>

<div class="container">
<h2>Map</h2>
<p>We are located at Chandigarh Group of Colleges (CGC), Landran.</p>

<iframe 
  src="https://www.google.com/maps?q=Chandigarh+Group+of+Colleges+Landran&output=embed"
  class="map-frame">
</iframe>

</div>



</body>
</html>